################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ADONetHelper.Firebird/v15
/.vs
/bin/Release
/obj
